.sec_seven_all {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    .sec_seven {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        justify-self: center;
        width: 80%;
        .fornazv {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            a {
                color: #6F73EE;
            }
            p:nth-child(1){
                font-size: 35px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
        .forsocials {
            display: flex;
            flex-direction: column;
            row-gap: 0.7rem;
            background-color: #F4F7FB;
            width: 25%;
            align-items: center;
            justify-content: center;
            padding: 3rem;
            border-radius: 17px;
            .social:nth-child(1){
                background-color: #4B729F;
                
            }
            .social:nth-child(2){
                background-color: #F44336;
                
            }
            .social:nth-child(3){
                background-color: #E53935;
                
            }
            .social:nth-child(4){
                background-color: #039BE5;
                
            }
            .social {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                padding: 1rem;
                color: white;
                border-radius: 7px;
                cursor: pointer;
                .nazsoc {
                    display: flex;
                    column-gap: 2rem;
                    align-items: center;
                }
            }
        }
    }
}