.sec_four_all {
    display:flex;
    width: 100%;
    flex-direction: column;
    .sec_four {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-self: center;
        justify-self: center;
        row-gap: 5rem;
        align-items: center;
        .nazv {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            text-align: center;
            p:nth-child(1){
                font-size: 35px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
}